<div class="entry">

  <p><strong>Redaktion und Verantworlichkeit gemäß § 6 MDSTV/TDG:</strong></p>
  <p>&nbsp;</p>
  <p>Stephan Dietrich</p>
  <p>Carl-Platz Straße 5</p>
  <p>63785 Obernburg</p>
  <p>&nbsp;</p>
  <p>Copyright © Stephan Dietrich.</p>
  <p>Diese Webseite darf kostenlos verlinkt werden. Keinerlei Gewähr für Vollständigkeit, Aktualität und Richtigkeit. Jegliche Haftung ist ausgeschlossen.</p>
  <p><strong>Haftungsausschluss</strong></p>
  <p>1. Inhalt des Onlineangebotes<br>
    Der Anbieter übernimmt keinerlei Gewähr für die Vollständigkeit, Richtigkeit, Aktualität, Qualität und Quellen der zur Verfügung gestellten Informationen und Angebote. Weiterhin übernimmt der Anbieter keinerlei Haftung für Schäden aus der Nutzung der angebotenen Informationen und Angebote dieser Webseite. Alle Angebote sind freibleibend und unverbindlich. Der Anbieter behält es sich insbesondere vor, die Informationen und Angebote ohne Ankündigung zu verändern, zu ergänzen, zu löschen oder die Veröffentlichung einzustellen.</p>
  <p>2. Verweise und Links<br>
    Eine Haftung des Anbieters für fremde Webseiten, auf welche durch durch Verweise hingewiesen wird, ist ausgeschlossen. Der Anbieter erklärt ausdrücklich, dass die verlinkten Seiten zum Zeitpunkt der Verweisung frei von illegalen Inhalten sind. Der Anbieter hat keinen Einfluss auf die Inhalte der verwiesenen Seiten. Der Anbieter haftet insbesondere nicht für Fremdeinträge.</p>
  <p>3. Urheber- und Kennzeichenrecht<br>
    Die Urheberrechte für alle vom Anbieter erstellten Objekte verbleiben bei dem Anbieter. Eine Verwendung, Veränderung oder Vervielfältigung bedarf der ausdrücklichen Zustimmung des Anbieters. Alle verwendeten Objekte, die urheber- oder markenrechtlich zu Gunsten Dritter geschützt sind, unterliegen den jeweiligen Bestimmungen des Dritten.</p>
  <p><strong>Google Analytics</strong></p>
  <p>Diese Website benutzt Google Analytics, einen Webanalysedienst der Google Inc. (Google). Google Analytics verwendet sog. “Cookies”, Textdateien, die auf Ihrem Computer gespeichert werden und die eine Analyse der Benutzung der Website durch Sie ermöglicht. Die durch den Cookie erzeugten Informationen über Ihre Benutzung diese Website (einschließlich Ihrer IP-Adresse) wird an einen Server von Google in den USA übertragen und dort gespeichert. Google wird diese Informationen benutzen, um Ihre Nutzung der Website auszuwerten, um Reports über die Websiteaktivitäten für die Websitebetreiber zusammenzustellen und um weitere mit der Websitenutzung und der Internetnutzung verbundene Dienstleistungen zu erbringen. Auch wird Google diese Informationen gegebenenfalls an Dritte übertragen, sofern dies gesetzlich vorgeschrieben oder soweit Dritte diese Daten im Auftrag von Google verarbeiten. Google wird in keinem Fall Ihre IP-Adresse mit anderen Daten der Google in Verbindung bringen. Sie können die Installation der Cookies durch eine entsprechende Einstellung Ihrer Browser Software verhindern; wir weisen Sie jedoch darauf hin, dass Sie in diesem Fall gegebenenfalls nicht sämtliche Funktionen dieser Website voll umfänglich nutzen können. Durch die Nutzung dieser Website erklären Sie sich mit der Bearbeitung der über Sie erhobenen Daten durch Google in der zuvor beschriebenen Art und Weise und zu dem zuvor benannten Zweck einverstanden.</p>


</div>