// Place all the styles related to the NewsItems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.pagination {
  margin: auto;
  font-size: 1em;
}

em.current {
  font-weight: bolder;
}